@import "tailwindcss";

/* Custom colors for Madri Noivas */
@theme {
  --color-madriRose: #E11D48;
  --color-madriGold: #D97706;
  --color-madriBg: #F3F4F6;
  --color-madriDark: #18181B;
  
}

/* Forces Dark Mode to function via the button's 'dark' class,
instead of just the system preference. */
@custom-variant dark (&:where(.dark, .dark *));



